@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}
.logo{
    width: auto;
    height: 48px;
}
.upper {
    text-transform: uppercase;;
}
.cap {
    text-transform: capitalize;
}
/* Header grid */
.topo {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    background-color: #B10210;
}
.topo-item {
    /*flex: 1;
    width: 80%; */
}
/* Fim Header grid */
/* Barra de navegação */
.topnav {
    background-color: #B10210;
    overflow: hidden;
    
}
.topnav a {
    float: left;
    color: #E3D081;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #E3D081;
    color: #B10210;
}
.topnav .a.active{
    background-color: #E3D081;
    color: #E3D081;
}
/* Fim da barra de navegação */
/* Formulário */
.campo-formulario {
   
    height: 30px;
}
/* Fim Formulário */